<!-- Clients Aside -->
    <aside class="clients">
        <style>
            .row {
              display: flex;
              justify-content: center;
              align-items: center;
            }
          </style>
          
          <div class="container">
              <div class="row">
                  <div class="col-md-3 col-sm-6 text-center">
                      <a href="https://webiks.com/" target="_blank">
                          <img src="img/logos/webiks-modified.png" class="img-responsive img-centered" alt="Webiks" style="max-height: 150px;">
                      </a>
                    </div>
                    <div class="col-md-3 col-sm-6 text-center">
                        <a href="https://www.intel.com/content/www/us/en/homepage.html" target="_blank">
                            <img src="img/logos/Intel-modified.png" class="img-responsive img-centered" alt="Intel" style="max-height: 150px;">
                        </a>
                    </div>
                    <div class="col-md-3 col-sm-6 text-center">
                        <a href="https://www.ocean.org.il/en/" target="_blank">
                            <img src="img/logos/iolr-modified.png" class="img-responsive img-centered" alt="IOLR" style="max-height: 150px;">
                        </a>
                    </div>
                    <div class="col-md-3 col-sm-6 text-center">
                        <a href="https://dds.technion.ac.il/data-science/" target="_blank">
                            <img src="img/logos/technion-modified.png" class="img-responsive img-centered" alt="Technion" style="max-height: 150px;">
                        </a>
                    </div>
                </div>
              </div>
          </div>   
    </aside>